
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@200&family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: "Quicksand", serif;
    padding:15px 110px 0px 110px;
}
.navbar{
    display:flex;
    border:solid blue;
}

.navbar-left{
    display:flex;
    width:68%;
    align-items: center;
    border:solid red;
}

.navbar-items{
    display:flex;
    margin-left:70px;
}

.navbar-items a{
    margin-right:15px;
    text-decoration: none;
    filter:grayscale(100%);
    
}

.navbar-right{
    display:flex;
    justify-content: space-around;
    align-items: center;
    width:32%;
    border:solid green;
}
.panier-achat img{
    width:30px;
    height: 30px;
}
.avatar-client img{
    width:30px;
    height:30px;
}
main{
    margin-top:90px;
    display:flex;
    border:1px solid red;
}

.main-product{
    display:flex;
    flex-direction: row;
    width:59%;
    height: 650px;
    border:solid purple;
}

.img-details{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    border:1px solid blue;
    margin:0px;
}

.img-details img{
    border:solid red;
    width:100px;
    height:105px;
    border-radius: 5%;
}

.img-display{
    display:flex;
    align-items: flex-end;
}

.img-display img{
    width:660px;
    margin-bottom:-107px ;
    image-rendering:pixelated;
}

.main-description{
    width:41%;
    height:auto;
    border:solid greenyellow;
}